API_URL=http://192.168.98.32:8000/api/v1

# ----------------------
API_BASE_URL=http://192.168.1.105:8000 
# Necessário para a logo 

API_CNPJ=https://open.cnpja.com/office/
API_CEP=https://viacep.com.br/ws